:root{
    --grisOscuro: #333333;
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario: #0097a7;
    --verde: #71B100;
    --gris: #e1e1e1;
    --fuentePrincipal: 3.8rem;
    --grisclaro: #cfe2f5;
}
.contenedor {
    width: 70%;
    max-width: 90rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 0 auto;
}



.cuerpo{
    display: flex;
}

legend{
    font-size: 8rem;
    font-weight: bold;
    color: var(--grisOscuro);
}

label{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select  {
    padding: 1rem;
    display: block;
    width: 95%;
    background-color: var(--blanco);
    border: 2px solid var(--gris);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

textarea{
    height: 20rem;
    /* margin-bottom: 1rem; */
}

fieldset{
    margin: 2rem 0;
    border: 2px solid var(--grisOscuro)
    
}

.boton{
    background-color: var(--verde);
    color: var(--blanco);
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc(5rem/2);
    display: block;
    border: none;

    
}
.boton:hover{
    background-color: darken(var(--verde), 5);
    cursor: pointer;
}
